<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Selenium Ignore Dashboard</title>
  <link rel="stylesheet" href="css/bootstrap.min.css?bust=<%= rand 1000 %>" type="text/css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="css/app.css?bust=<%= rand 1000 %>" type="text/css" media="screen" charset="utf-8">

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-26481142-3']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>
  <div class="topbar">
    <div class="topbar-inner">
      <div class="container-fluid">
        <img src="/images/logo.png" id="se-logo" class="pull-left">
        <h3><a href="/">Selenium Test Ignores</a></h3>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <ul class="tabs">
      <li class="active"><a id="list-link" href="#/ignores">List</a></li>
      <li><a id="stats-link" href="#/stats">Graphs</a></li>
      <li><a id="diff-link" href="#/diff">Diff</a></li>
    </ul>
  </div>
  <div id="main"></div>

  <script src="js/lib/jquery.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/lib/mustache.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/lib/sammy-latest.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/lib/sammy.mustache.js" type="text/javascript" charset="utf-8"></script>
  <script src="highcharts/js/highcharts.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/src/menu.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/src/stats.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/src/diff.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/src/app.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
