<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Selenium Ignore Dashboard</title>
  <link rel="stylesheet" href="css/app.css" type="text/css" media="screen" charset="utf-8">
</head>
<body>
  <div class="header">
    <h1>Selenium Ignore Dashboard</h1>
  </div>
  <ul class="menu">
    <li><a id="ignore-link" href="#/ignores" class="selected">Ignores</a></li>
    <li><a id="stats-link" href="#/stats">Graphs</a></li>
  </ul>
  

  <div id="main">
    <div class="spinner"></div>
  </div>

  <script src="js/lib/jquery.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/lib/mustache.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/lib/sammy-latest.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/lib/sammy.mustache.js" type="text/javascript" charset="utf-8"></script>
  <script src="highcharts/js/highcharts.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/src/menu.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/src/stats.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/src/app.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
