*{margin:0;padding:0;}
html,body{height:100%;color:black;}

body{
  background-color: white;
  font: 12px "Droid Sans",arial,sans-serif;
}

.header {
  text-align: left;
  background-color: #6AB2F4;
  padding: 15px 0 0px 15px;
  height: 40px;
}

a { text-decoration: none; color: black; }
a:hover { text-decoration: underline; }

#count { text-align: right; }

.horizon {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0px;
  width: 100%;
  height: 1px;
  overflow: visible;
  visibility: visible;
  display: block;
}

.spinner {
  background: url(../images/spinner.gif) no-repeat;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  position: absolute;
  top: -30px;
  left: 50%;
  width: 250px;
  height: 70px;
}

.graph { width: 90%; margin: auto; }

#main {
  padding: 10px;
}

ul {
  list-style-type: none;
  height: 80px;
  margin: auto;
}

.menu {
  border-bottom: 1px solid #8FAAD9;
  border-top: 1px solid #8FAAD9;
  background-color: #E5ECF9;
  height: 40px;
}

.menu li {
  float: left;
  border-right: 1px solid #8FAAD9;
}

.menu li a {
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 1em;
  padding-left: 1em;
  line-height: 40px;
  text-decoration: none;
  font-size: 16px;
  color: #371C1C;
  width: 100px;
}

.menu li a.selected {
  font-weight: bold;
}

table {
  margin: 1em 0 0 1px;
  border: 1px solid;
  border-spacing: 0;
  border-collapse: collapse;
  clear: right;
  border-color: #BBB;
}

th {
  font-weight: bold;
  text-align: left;
  padding: 6px 12px;
  border: 1px solid #BBB;
  background-color: #E5ECF9;
}

table tbody td {
  padding: 6px 12px;
  border: 1px solid #BBB;
  background-color: white;
  text-align: left;
  vertical-align: top;
  font-size: 8pt;
}

