*{margin:0;padding:0;}
html,body{height:100%;color:black;}

body{
  background-color: white;
  font: 12px "Droid Sans",arial,sans-serif;
}

.header {
  text-align: left;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#6AB2F4),to(#67A7E3));
  background-image: -moz-linear-gradient(top,#6AB2F4,#67A7E3);
  background-image: linear-gradient(top,#6AB2F4,#67A7E3);
  padding: 15px 0 0px 15px;
  height: 40px;
  color: #004;
}        

a { text-decoration: none; color: black; }
a:hover { text-decoration: underline; }

#count { text-align: right; }

.spinner {
  background: url(../images/spinner.gif) no-repeat;
  margin: auto;
  width: 60px;
  height: 60px;
}

.graph { width: 90%; margin: auto; }

#main {
  padding: 10px;
}

ul {
  list-style-type: none;
  height: 80px;
  margin: auto;
}

.menu {
  border-bottom: 1px solid #8FAAD9;
  border-top: 1px solid #8FAAD9;
  background-color: #D6E9F8;
  height: 40px;
}

.menu li {
  float: left;
  border-right: 1px solid #8FAAD9;
}

.menu li a {
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 32px;
  padding-left: 32px;
  display: block;
  line-height: 40px;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  color: #371C1C;
}

.menu li a.selected {
  font-weight: bold;
}

table.tablesorter {
	font-family:arial;
  margin:20px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
  padding: 10px;
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #D6E9F8;
	border: 1px solid #C9D7F1;
	font-size: 8pt;
  padding: 4px;
}

table.tablesorter thead tr .header {
	background-image: url(../images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table.tablesorter tbody td {
	color: #3D3D3D;
	background-color: white;
  padding: 4px;
	vertical-align: top;
	word-wrap: break-word;
}

table.tablesorter tbody tr.odd td {
  background-color:#F0F0F6;
}

table.tablesorter thead tr .headerSortUp {
	background-image: url(../images/asc.gif);
}

table.tablesorter thead tr .headerSortDown {
	background-image: url(../images/desc.gif);
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
  background-color: #8dbdd8;
}
