*{margin:0;padding:0;}
html,body{height:100%;color:black;}

body{
  background-color: #F6F6F6;
  font: 12px "Droid Sans",arial,sans-serif;
}

.header {
  text-align: left;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#e6EEEE),to(#A0AAAA));
  background-image: -moz-linear-gradient(top,#e6EEEE,#A0AAAA);
  background-image: linear-gradient(top,#e6EEEE,#A0AAAA);
  padding: 15px 0 0px 15px;
  height: 40px;
}

a { text-decoration: none; color: black; }
a:hover { text-decoration: underline; }

.counts dd { font-weight: bold; }
.counts dt { padding-left: 20px }
.spinner { background: url(../images/spinner.gif) no-repeat; margin: auto; width: 50px; height: 50px; }

#main {
  padding: 10px;
}

ul {
  list-style-type: none;
  height: 80px;
  margin: auto;
}

.menu li {
  float: right;
}

.menu li a {
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 32px;
  padding-left: 32px;
  display: block;
  line-height: 80px;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 21px;
  color: #371C1C;
}

.menu li a:hover {
  color: #666;
}

/* tables */
table.tablesorter {
	font-family:arial;
  margin:20px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
	padding: 10px;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(../images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	background-color: white;
	padding: 4px;
	vertical-align: top;
}

table.tablesorter tbody tr.odd td {
  background-color:#F0F0F6;
}

table.tablesorter thead tr .headerSortUp {
	background-image: url(../images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../images/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
  background-color: #8dbdd8;
}

