<div class="container">
  <select id="diff-left">
    {{#drivers}}
      <option value="{{name}}">{{name}}</option>
    {{/drivers}}
  </select>

  vs

  <select id="diff-right">
    {{#drivers}}
      <option value="{{name}}">{{name}}</option>
    {{/drivers}}
  </select>
</div>
<div id="diff"></div>