<table class="tablesorter">
  <thead>
    <tr>
      <th>name</th>
      <th>ignored drivers</th>
    </tr>
  </thead>

  <tbody>
    {{#ignores}}
      <tr>
        <td>
          <a href="{{url}}">{{short_class_name}}.{{test_name}}</a>
        </td>
        <td>
          {{#drivers}}
            <a href="/#/ignores/{{name}}">{{name}}</a>
          {{/drivers}}
        </td>
      </tr>
    {{/ignores}}
  </tbody>
</table>




